*{
    margin: 0;
    padding: 0;
}
.containt{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}
.containt h1{
    font-size: 40px;
    color: aliceblue;
    padding: 10px;
}
.containt img{
    width: 500px;
    height: 400px;
    padding: 10px;
}