<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--链接bootstrap样式-->
    <link href="lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/chat.css">
    <!--设置站点图标-->
    <link rel="icon" href="img/lk_favicon.ico" type="img/x-icon"/>
    <title>小撩</title>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading text-center">
            <span class="glyphicon glyphicon-cloud" style="
            font-size: 100px; color: #E9232C"></span>
        <h2 class="text-danger" style="margin-top: 10px;">小撩机器人(简化版)</h2>
    </div>
    <div class="panel-body" style="position: relative;">
        <ul id="chatList">
            <!--<li class="service"><span class="chat-msg">我想吃饭</span></li>
            <li class="custom"><span class="chat-msg">吃什么饭, 赶紧敲代码去!</span></li>
            <li class="service"><span class="chat-msg">我想吃饭</span></li>
            <li class="custom"><span class="chat-msg">吃什么饭, 赶紧敲代码去!</span></li>
            <li class="service"><span class="chat-msg">我想吃饭</span></li>
            <li class="custom"><span class="chat-msg">吃什么饭, 赶紧敲代码去!</span></li>
            <li class="service"><span class="chat-msg">我想吃饭</span></li>
            <li class="custom"><span class="chat-msg">吃什么饭, 赶紧敲代码去!</span></li>
            <li class="service"><span class="chat-msg">我想吃饭</span></li>
            <li class="custom"><span class="chat-msg">吃什么饭, 赶紧敲代码去!</span></li>-->
        </ul>
    </div>
    <div class="panel-footer">
        <input type="text" id="msg" placeholder="请输入聊天内容">
        <button id="btn_send" class="btn btn-primary">发送</button>
        <button id="btn_close" class="btn btn-danger">关闭</button>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/jquery-1.12.4.min.js"></script>
<script>
    //1.建立连接
    let url = "http://127.0.0.1:3000";
    let socket = io(url);

    //2.监听
    socket.on("connect",()=>{
        console.log("已经建立连接");
        //2.1打开通道
        socket.emit("open");
    });
    //3.接受服务器返回的数据
    socket.on("msg",(data)=>{
        dealWithMsg("service",data)
    });

    //4.添加客户端消息
    $("#btn_send").on("click",()=>{
        addCustomerMsg();
    });
    //5.回车事件
    $(window).on("keydown",(event)=>{
        if(event.keyCode === 13){
            addCustomerMsg();
        }
    });
    //6.关闭按钮
    $("#btn_close").on("click",()=>{
        socket.disconnect(true);
        window.location.href = "../index.html";
    });

    function addCustomerMsg() {
        //将消息发送给服务器
        socket.emit("msg",$("#msg").val());
        //将消息渲染到页面
        dealWithMsg("custom",$("#msg").val());
        //清空输入框
        $("#msg").val("");

    }
    function dealWithMsg(className,data) {
        let $listMsg = $("<li>");
        $listMsg.attr("class",className);
        let $spanMsg = $("<span>");
        $spanMsg.attr("class","chat-msg");
        $spanMsg.text(data);

        $listMsg.append($spanMsg);
        $("#chatList").append($listMsg);

        let $scrollHeight = $("#chatList")[0].scrollHeight;
        $("#chatList").scrollTop($scrollHeight);
    }

</script>
</body>
</html>